@font-face {
  font-family: "plantin";
  src: url("https://use.typekit.net/af/73d2e3/00000000000000007735baf2/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),
       url("https://use.typekit.net/af/73d2e3/00000000000000007735baf2/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "plantin";
  src: url("https://use.typekit.net/af/4179dd/00000000000000007735baef/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),
       url("https://use.typekit.net/af/4179dd/00000000000000007735baef/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "plantin";
  src: url("https://use.typekit.net/af/d2d7b4/00000000000000007735baec/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),
       url("https://use.typekit.net/af/d2d7b4/00000000000000007735baec/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "plantin";
  src: url("https://use.typekit.net/af/358f1b/00000000000000007735baee/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),
       url("https://use.typekit.net/af/358f1b/00000000000000007735baee/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "adobe-jenson-pro";
  src: url("https://use.typekit.net/af/6ac4d9/00000000000000007735d85e/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),
       url("https://use.typekit.net/af/6ac4d9/00000000000000007735d85e/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "adobe-jenson-pro";
  src: url("https://use.typekit.net/af/594743/00000000000000007735d867/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),
       url("https://use.typekit.net/af/594743/00000000000000007735d867/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}
